body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: url('/img/bg.jpeg') center;
  background-size: cover;
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 16px;
  max-height: 100%;
  color: #fff;
}

input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  box-shadow: none;
  border: none;
  background: none;
  color: #fff;
}

input[type="text"]:focus {
  outline: none;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align : center;
  -webkit-align-items : center;
  -moz-box-align : center;
  -ms-flex-align : center;
  align-items : center;
  width: 100%;
  width: 100vw;
  -webkit-box-pack : center;
  -moz-box-pack : center;
  -ms-flex-pack : center;
  -webkit-justify-content : center;
  justify-content : center;
}

.pull-right {
  float: right;
}
