<div ng-controller="todoCtrl" ng-init="init()">

  <div class="fixed-br" ng-click="toggle()">
    Todo
  </div>

  <div ng-if="open" class="todo-box">
    <div class="header">
      <span>All todo: {{todoList.length}}</span><a id='clear-all' class="pull-right" ng-click='removeAll()'><span>Clear all</span></a>
    </div>
    <div id="todo-list">
      <div ng-repeat="todo in todoList track by todo.id| orderBy: todo.createdAt">
        <div class="todo-item">
          <input type='checkbox' ng-model='todo.completed' ng-click='toggleCompleted()'/>
          <span ng-class='{completed: todo.completed}'>{{todo.content}}</span>
          <a class='pull-right circle' ng-click='remove(todo)'><span class="del">x</span></a>
        </div>
      </div>
    </div>
    <form id="todo-form" ng-submit="addTodo()" novalidate>
      <input id="new-todo" type="text" ng-model='formData.title' placeholder="New todo" required>
    </form>
  </div>

</div>
